.fishbone-container {
    box-sizing: border-box;
    width: 1440px;
    background-color: coral;
    overflow: hidden;

}

.fishbone-container-nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
}


