h3,h4, h5, h6 {
    color:#5b6692;
    font-size: 18px;
    font-family: Computer Modern Typewriter;
    font-weight: bolder;
    margin: 5px;
  }
  p, ul {
    margin: 0px;
    font-family: Computer Modern Typewriter;
    font-size: 18px;
    }
.fishbone {    
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-rows: 4vh 1fr;
    background-color: lightblue;
    overflow: hidden;
}
.fishbone-nav {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: #1976d2;
}
.fishbone-nav-elem {
    width: 10em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0em 0.2em 0em 0.2em;
    border-bottom: 2px;
    }
.fishbone-nav-elem-active {
    border-radius: 5px 5px 0px 0px;
    background-color: lightblue;
}
.fishbone-elem-link {
    text-decoration: none;
    text-transform: lowercase;
    color: white;
    border: none;
}
.fishbone-elem-link-active {
    color: #115293
}
.fishbone-elem-link-listitem {
    height: 3.3vh;
}
.fishbone-container {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
}
.fishbone-about {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: chartreuse; */
}
.fishbone-about-text{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:90%;
    color: #333333;
    /* background-color: blanchedalmond */
}
.fishbone-about-text-box {
    box-sizing: border-box;
    inline-size: 60em;
    overflow-wrap: break-word;
    /* background-color: darkcyan; */
}
.fishbone-about-buttons {
    margin-bottom: 0.5em;
}
.fishbone-about-display {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: whitesmoke; */
}
.build {
    box-sizing: border-box;
    display: grid;
    grid-template-columns:1fr minmax(8em,16%);
    width: 100%;
    /* background-color: darkseagreen;; */
}
.build-display {
    padding: 0.5em 1em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* background-color: darkkhaki; */
  }
  .build-buttons {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: darkgrey; */
  }
  .buttons-mui {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: cyan; */
  }
  .canvas {
    background-color: white;
    border: 0.5px solid #333333
    }
.fishbone-manual-create {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* background-color: yellow; */
}   
.fishbone-manual-create-form{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex:1;
    padding: 0.5em 1em;
    /* background-color: bisque; */
}
.fishbone-manual-create-container {
    box-sizing: border-box;
    display: flex;
    flex: 4.5;
    /* background-color: green */
}
.fishbone-manual-create-form-buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: cadetblue; */
}
.site {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
